.taxi-navbar {
  background: #ffc400;
  padding: 8px 0px !important;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

/* LOGO AREA */
.taxi-logo {
  font-weight: 700;
  color: #111 !important;
  gap: 6.5px;
}

/* LOGO IMAGE */
.logo-img {
  height: 42px;      /* perfect header size */
  width: auto;
}

.nav-link {
  margin-left: 22px;
  font-weight: 500;
  color: #111 !important;
  transition: all 0.5s ease;
}

.nav-link:hover {
  color: white !important;
  transform: translateY(-2px);
}

/* Book Button */
.book-btn {
  background-color: #1A1A1A !important;
  color: #fff !important;
  padding: 6px 16px;
  border: 1px solid black !important;
  border-radius: 6px;
}

.book-btn:hover {
  background: #E0A800 !important;
  color: black !important;
}

@media (max-width: 991px) {
  .navbar-collapse {
    background: #ffc400;
    padding: 10px 0;
  }

  .navbar-nav {
    text-align: center;
  }

  .navbar-nav .nav-link {
    margin: 8px 0;
  }

  .book-btn {
    display: inline-block;
    margin-top: 8px;
  }
}

@media (max-width: 380px) {

  .container-fluid {
    padding-left: 12px !important;
    padding-right: 12px !important;
  }

  .logo-img {
    width: 32px;
    height: 32px;
  }

  .taxi-logo span {
    font-size: 0.9rem;
    max-width: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .navbar-toggler {
    padding: 4px 6px;
    size-adjust: 6px;
  }
}