* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

html {
  scroll-behavior: smooth;
  width: 100%;
  overflow-x: hidden !important;
}

body {
  background: #f9f9f9;
  color: #222;
  width: 100%;
  overflow-x: hidden !important;
}

section {
  margin: 0px;
  padding:0px ;
}

h2 {
  margin-bottom: 20px;
}

h1, h2, h3, .logo-text, .nav-link {
  font-family: 'Poppins', sans-serif;
}
